.titles{
    font-size: 18px;
    background-color:bisque;
}
tbody{
    font-size: 17px;
    background-color:cornsilk;
}
td,tr,th {
    border: 1px solid grey;
}
table{
  width: 650px;
  height: 450px;
  text-align: center;
  border-spacing: 5px 5px;
}
.yellow{
    background: yellow;
}